.join{
  /* max-width: 50%; */
  position: absolute;
  top: 0%;
  right: 15%;
  min-height: 40px;
  top: 50%;
  
  /* min-height: ; */
  }
  .fine{
    translate: 100px 20px;
  }
  .confirm{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }